/* Customizations to the designer theme should be defined here */

/* DatsaView */
.p-dataview .p-dataview-content {
    background-color: transparent;
}

.p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
    border: none;
}

/* Paginator */
.p-paginator-bottom {
    background-color: transparent;
}

/* Password Input */
.p-password-input,
.p-password {
    width: 100%;
}
