.navbar {
    height: var(--navbarHeight);

    .menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        border: none;
        background-color: white;
        color: var(--text-color);
        display: none;
        z-index: 500;
        padding: 8px 0;

        &.expanded {
            display: flex;
        }

        .list {
            width: 100%;

            .item {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 8px 24px;

                .icon + p {
                    margin-left: 16px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        .menu {
            position: static;
            height: auto;
            display: flex;
            width: auto;
            align-items: center;
            background-color: transparent;
            color: inherit;

            .list {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 1rem;

                .item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 0.75rem;
                    padding: 0;

                    .icon {
                        font-size: 1rem;
                        padding-right: 0rem;
                    }

                    .icon + p {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
